<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eyetracking">

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@drawable/container_calibration"
        android:supportsRtl="true"
        android:theme="@style/Theme.EyeTracking"
        tools:targetApi="31">

        <activity
            android:name=".activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.VideoChooseActivity"
            android:exported="true"
            android:screenOrientation="landscape" />

        <activity android:name=".activity.AgreementActivity" android:exported="true" />
        <activity android:name=".activity.GenderActivity" android:exported="true" />
        <activity android:name=".activity.InstructionActivity" android:exported="true" />
        <activity android:name=".activity.CalibrationActivity" android:exported="true" android:configChanges="orientation|screenSize" android:screenOrientation="sensor"/>
        <activity android:name=".activity.CalibrationdirectorActivity" android:exported="true" android:configChanges="orientation|screenSize" android:screenOrientation="sensor"/>
        <activity android:name=".activity.CalibrationreddotActivity" android:exported="true" android:configChanges="orientation|screenSize" android:screenOrientation="sensor"/>
        <activity android:name=".activity.VideoPlayActivity" android:exported="true" android:configChanges="orientation|screenSize" android:screenOrientation="sensor" />
        <activity android:name=".activity.DataOutputActivity" android:exported="true" />
        <activity android:name=".activity.Exit" android:exported="true" />

    </application>
</manifest>
